@font-face {
  font-family: 'Lulo Clean W01 One';
  src: url('/FONTSFREE-NET-LULO-CLEAN-W01-ONE.TTF') format('woff2'),
       url('/FONTSFREE-NET-LULO-CLEAN-W01-ONE.TTF') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Lulo Clean W01 One', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
